#button-text-link {
  background: transparent;
  border: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;

  &.align-to-center {
    display: flex;
    justify-content: center;
  }

  &.align-to-left {
    display: flex;
    justify-content: flex-start;
  }

  &.align-to-right {
    display: flex;
    justify-content: flex-end;
  }

  [alt="chevron left icon"] {
    height: 12px;
    margin-right: 4px;
    align-self: center;
  }

  .button-text-link__text {
    color: var(--mare-dark-ocean-green);

    &.light-14 {
      font-family: "Roboto Light";
      font-size: 14px;
    }

    &.bold-20 {
      font-family: "Roboto Bold";
      font-size: 20px;
    }
  }
}
