.job-vacancy {
  .job-vacancy__main {
    .main__vacancy-form {
      overflow-y: scroll;
      height: calc(100dvh - 216px);
      padding-bottom: 16px;
      .vacancy-form__panel {
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .wrapper__grid-template {
          display: grid;
          grid-template-columns: 29.5% 1fr;
          gap: 16px;
        }
        .wrapper__grid-template--modified {
          grid-template-columns: 1fr 1fr;
          display: grid;
          gap: 16px;
        }
      }
    }

    // .form__wrapper {
    //   display: grid;
    //   gap: 16px;
    //   margin:  0;
    //   overflow-y: auto;

    // }
  }
}
