.company-login-page {
  padding: 0 24px;

  justify-items: center;
  align-items: center;
  overflow-y: hidden;
  .company-login-page__main {
    .main__form {
      max-width: 540px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 24px 0;
      .form__link-button {
        text-align: left;
      }
    }
  }
}
