.company-login-page {
  .company-login-page__main {
    .main__form {
      display: flex;
      flex-direction: column;
      gap: var(--mare-spacing);

      .form__link-button {
        text-align: left;
      }
    }
  }
}
