.loading-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1s ease-out;

  &.hidden-fade-out {
    opacity: 0;
  }

  .loading-page__logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    [alt="Mare logo"] {
      width: 100%;
      height: auto;
      max-width: 500px;
    }
  }
}
