.candidate-edit {
  .candidate-edit__main {
    display: flex;
    flex-direction: column;

    .candidate-edit__register-details {
      .register-details__inner {
        border: 1px solid var(--mare-border);
        display: flex;
        justify-content: flex-start;
        border-radius: 16px;

        .inner__headers {
          .headers__header {
            padding: 8px;
          }
        }

        .inner__values {
          .values__value {
            padding: 8px;
          }
        }
      }
    }

    .candidate-edit__form-edit {
    }
  }
}
