.company-menu {
  .company-menu__header-text {
    padding-bottom: var(--mare-spacing);
  }
  .company-menu__main {
    overflow-y: scroll;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
  }
}
