#grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(170px, 1fr);
  gap: 24px;
  height: 100%;
  user-select: none;

  .grid-buttons__button {
    background-color: var(--mare-sea-dust);
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    box-shadow: var(--mare-box-shadow);

    &:hover {
      opacity: 0.9;
    }

    .button__icon {
      width: 58px;
      height: 58px;
    }

    .button__text {
      font-family: "Roboto Bold";
      color: var(--mare-white);
      font-size: 20px;
    }
  }
}
