#grid-buttons {
  display: grid;
  grid-template-columns: 114px 114px;
  grid-auto-rows: 114px;
  gap: var(--mare-spacing);
  user-select: none;

  .grid-buttons__button {
    background-color: var(--mare-sea-dust);
    border: none;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    padding: var(--mare-spacing);
    box-shadow: var(--mare-box-shadow-secondary);

    &:hover {
      opacity: 0.9;
    }

    .button__icon {
      width: 58px;
      height: 58px;
    }

    .button__text {
      font-family: "Roboto Bold";
      color: var(--mare-white);
      font-size: 16px;
    }
  }
}
