#layout-component {
  position: relative;
  justify-items: center;
  overflow-y: hidden;
  overflow-x: hidden;

  .layout-component-wrapper {
    width: 100dvw;
  }

  #layout-component__main {
    &.space-nav {
      padding-top: 60px;
    }
  }

  .layout-component__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    [alt="fundo azul em formato de onda"] {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      max-height: 146px;
      width: 100%;
    }

    .footer__links-container {
      z-index: 1;
      position: relative;
      width: 100%;
      max-width: 600px;

      .footer__links {
        display: flex;
        justify-content: space-between;
        padding: 0 10%;
        margin-bottom: 8px;

        .links__link {
          // text-align: center;
          font-family: "Roboto Bold";
          color: var(--mare-white);
          cursor: pointer;

          font-size: 16px;
        }
      }

      .footer__social-medias {
        padding: 0 var(--mare-spacing);
        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding-bottom: 8px;
        .social-medias__icon-text-wrapper {
          display: flex;
          align-items: center;
          gap: 4px;
          .icon-text-wrapper__icon {
          }

          .icon-text-wrapper__text {
            font-size: 12px;
            color: var(--mare-white);

            a {
              color: var(--mare-white);
            }
          }
        }
      }
    }

    .footer__rights-text {
      z-index: 1;
      position: relative;
      text-align: center;
      color: var(--mare-white);
      font-family: "Roboto Light";
      font-size: 12px;
      padding-bottom: var(--mare-spacing);
    }
  }
}
