.contact-registration {
  height: calc(100dvh - 208px);
  overflow-y: scroll;
  overflow-x: visible;
  .contact-registration__form {
    .form__wrapper {
      display: grid;
      gap: 16px;
      margin-bottom: 16px;

      .form__grid-template {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }
    }
  }
}
