.company-registration-page {
  height: calc(100dvh - 208px);
  overflow-y: scroll;
  overflow-x: visible;

  .company-registration-page__form {
    .form__wrapper {
      display: grid;
      gap: 16px;

      .grid-template {
        display: grid;
        grid-template-columns: 29.5% 1fr;
        gap: 16px;
      }
    }
  }
}
