#input-text-select {
  .input-text-select__input {
    position: relative;
  }

  .input-text-select__dropdown-wrapper {
    position: relative;

    .input-text-select__dropdown-list-ul {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 8px;
      left: 8px;
      border-radius: 0 0 8px 8px;
      max-height: 200px;
      overflow-y: scroll;
      overflow-x: visible;
      box-shadow: var(--mare-box-shadow);
      background-color: var(--mare-white);

      .input-text-select__dropdown-list-li {
        // width: 100%;
        text-transform: uppercase;
        padding: 0 8px;
        border: 1px solid var(--mare-border);
      }
    }
  }
}
