#label-with-value {
  .label-text {
    color: var(--mare-dark-ocean-green);
    font-size: 18px;
  }

  .value-text {
    font-family: "Roboto Bold";
    font-size: 20px;
    color: var(--mare-dark-ocean-green);
  }
}
