#button-component {
  width: 100%;
  padding: 12px;
  display: flex;

  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;

  .button-component__text {
    grid-column: 2/3;
    font-size: 20px;
  }

  &:hover {
    opacity: 0.95;
  }

  [alt="icon button left"],
  [alt="icon button right"] {
    height: 100%;
    width: 16px;
  }

  &.primary {
    background-color: var(--mare-sea-dust);
    color: var(--mare-white);
  }

  &.secondary {
    background-color: var(--white);
    border: 1px solid var(--mare-border);
    color: var(--mare-blue);
  }

  &.tertiary {
    background-color: transparent;
    color: var(--mare-blue);
  }
}
